# Пароль от пользователя ROOT внутри контейнера
DB_ROOT_PASSWORD=replace_with_strong_root_password

# Имя базы данных
DB_NAME=blog_db

# Имя пользователя базы данных
DB_USER=blog_user

# Пароль пользователя базы данных
DB_PASSWORD=replace_with_strong_user_password